body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.loginPage{
 position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.createBox{
 border: 2px solid gainsboro;
 border-radius: 2%;
 margin-top: 3px;
 text-align: center
}


.loginBox{
   border: 2px solid gainsboro;
 border-radius: 2%;
 padding: 12px; 
}
.signinheading{
  text-align: center;
  font-weight: bold;
  color: skyblue;
  font-size: 2em
}